html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--color--black);
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--color--yellow); 
}