html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--color--black);
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--color--yellow); 
}

.btn-flutuante{
    display: none;

    @media (max-width:768px){
        display: block;
        position: fixed!important;
        z-index: 10000!important;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    
}