.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    & .footer-background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    & .footer-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
        padding: 2.5% 5%;
        border-radius: 30px;
        position: relative;

        @media (max-width: 768px) {

        }

        &::before{
            content: '';
            width: 1000px;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-image: url('../assets/backgrounds-recortes/model-4.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;

            @media (max-width: 768px) {
                width: 100%;
                background-image: none;
                background-color: #000;
            }
        }

        & button {
            @media (max-width: 768px) {
                display: none;
            }
        }

        & h1 {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            color: var(--color--white);

            @media (max-width: 768px) {
                padding: 2.5% 0%;
            }

            & span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-weight: 400;
                font-size: 35px;
                line-height: 120%;

                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 110%;
                    gap: 5px;
                }

                & img {
                    width: 180px;

                    @media (max-width: 768px) {
                        width: 80px;
                    }
                }
            }
        }
    }

    & .footer-content {
        max-width: 1280px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5%;
        gap: 50px;

        @media (max-width: 768px) {
            flex-direction: column;    
            gap: 25px;
        }

        & .footer-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 15px;
            width: 50%;
            position: relative;

            &::before{
                @media (max-width: 768px) {
                    content: '';
                    width: 120%;
                    height: 120%;
                    left: -10%;
                    top: -12.5%;
                    position: absolute;
                    z-index: -1;
                    background-image: url('../assets/images-banco-de-dados/impermeabilizantes.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
                padding-bottom: 20px;
            }

            & p {
                @media (max-width: 768px) {
                    color: var(--color--black);
                }
            }

            & h1 {
                font-size: 35px;
                font-weight: 400;

                @media (max-width: 768px) {
                    font-size: 30px;
                    line-height: 110%;
                    color: var(--color--black);
                }

                & b {
                    color: var(--color--yellow);
                    font-weight: 400;

                    @media (max-width: 768px) {
                        color: #000;
                    }
                }
            }
        }

        & .footer-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;

            @media (max-width: 768px) {
                width: 100%;
                padding: 5% 0;
            }

            & h2 {
                font-size: 30px;
                font-weight: 400;
            }

            & .footer-form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 25px;
                width: 100%;

                & label {
                    padding: 15px;
                    border: 1px solid var(--color--black);
                    width: 100%;
                    border-radius: 15px;
                    position: relative;

                    @media (max-width: 768px) {
                        padding: 12px;
                        border-radius: 7.5px;
                    }

                    & span {
                        position: absolute;
                        top: -12px;
                        left: 3%;
                        padding: 3px 10px;
                        font-size: 13px;
                        background-color: #fff;
                    }

                    & input {
                        width: 100%;
                        height: 100%;
                        color: var(--color--black);

                        &::placeholder{
                            color: var(--color--black);
                            opacity: 0.5;
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                }

                & button {
                    padding: 15px;
                    text-align: center;
                    width: 100%;
                    background: var(--color--yellow);
                    border-radius: 15px;
                    border: 2px solid var(--color--black);
                    font-size: 18px;
                    font-weight: 400;

                    @media (max-width: 768px) {
                        border-radius: 10px;
                        border: 1px solid var(--color--black);
                        font-weight: 300;
                        margin-top: -10px;
                    }
                }
            }
        }
    }

    & .footer-bottom{
        border-top: 1px solid var(--color--black);
        width: 100%;
        max-width: calc(1280px - 128px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1% 0%;

        @media (max-width: 768px) {
            flex-direction: column;    
            gap: 10px;
            padding: 2.5% 5%;
            border-top: none;
        }

        & p {
            font-weight: 300;

            @media (max-width: 768px) {
                text-align: center;
                line-height: 120%;
                font-size: 12px;
            }

            & a {
                font-weight: 500;
                color: var(--color--black);

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }
}